<!DOCTYPE html>
<html>
<head>
	<title>Data transform tools</title>
	<link rel="stylesheet" type="text/css" href="libs/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="data_transform.css">
</head>
<body ng-app="dtApp">
	<div ng-controller="dtController">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#transform-options" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
				</button>
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Data transform tools</a>
				</div>
				<div class="collapse navbar-collapse" id="transform-options">
					<ul class="nav nav-pills pull-right">
			        	<li ng-class="{active:isActive('/url-encode')}"><a href="#url-encode">URL Encode</a></li>
			        	<li ng-class="{active:isActive('/url-decode')}"><a href="#url-decode">URL Decode</a></li>
			        	<li ng-class="{active:isActive('/base64-encode')}"><a href="#base64-encode">Base64 Encode</a></li>
			        	<li ng-class="{active:isActive('/base64-decode')}"><a href="#base64-decode">Base64 Decode</a></li>
			        	<li ng-class="{active:isActive('/xml-format')}"><a href="#xml-format">XML Format</a></li>
			        	<li ng-class="{active:isActive('/json-format')}"><a href="#json-format">JSON Format</a></li>
			      	</ul>
			  	</div>
		  	</div>
		</nav>
		<div class="container section">
			<div class="row">
	  			<form name="dtCtrl.form">
					<div class="form-feedback"> </div>
			  		<div class="col-md-6">			
			  			<textarea id="data-input" class="form-control" rows="15" placeholder="Data to process" ng-model="section.input" ng-model-options="{ updateOn: 'blur' }"></textarea>
			  		</div>
			  		<div class="col-md-6">			
			  			<textarea id="data-output" class="form-control" rows="15" ng-model="section.output"></textarea>
			  			<div class="form-buttons">
				  			<input class="btn btn-primary submit-button" type="submit" ng-click="submit(section)" value="Submit">
     			  			<input class="btn btn-default" type="reset" value="Clear" ng-click="clear(section)">
     			  		</div>
			  		</div>	
			  		<div>input: {{section.input}}</div>
			  		<div>output: {{section.output}} </div>
	  			</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="libs/angular.min.js"></script>
	<script type="text/javascript" src="libs/vkbeautify.js"></script>
	<script type="text/javascript" src="data_transform_app.js"></script>
	<script type="text/javascript" src="data_transform.js"></script>
</body>
</html>
