<!DOCTYPE html>
<html>
<head>
	<title>Data transform tools</title>
	<link rel="stylesheet" type="text/css" href="libs/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="data-transform.css">
	<link rel="icon" href="data:;base64,=">
</head>
<body ng-app="dtApp">
	<div ng-controller="DtController as dt">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#transform-options" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
				</button>
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Data transform tools</a>
				</div>
				<div class="collapse navbar-collapse" id="transform-options">
					<ul class="nav nav-pills pull-right">
						<li ng-class="{active:dt.isTabSet(key)}" ng-repeat="(key, value) in dt.sections">

							<a href="#{{key}}" ng-click="dt.setTab(key)">{{value.title}}</a>
						</li>
			      	</ul>
			  	</div>
		  	</div>
		</nav>
		<big-input-output></big-input-output>
	</div>
	<script type="text/javascript" src="libs/angular.min.js"></script>
	<script type="text/javascript" src="libs/vkbeautify.js"></script>
	<script type="text/javascript" src="data-transform-app.js"></script>
	<script type="text/javascript" src="data-transform.js"></script>
</body>
</html>
