<!DOCTYPE html>
<html>
<head>
	<title>Data transform tools</title>
	<link rel="stylesheet" type="text/css" href="libs/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="data-transform.css">
	<link rel="icon" href="data:;base64,=">
</head>
<body ng-app="dtApp">
	<div ng-controller="DtController as dt">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#transform-options" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
				</button>
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Data transform tools</a>
				</div>
				<div class="collapse navbar-collapse" id="transform-options">
					<ul class="nav nav-pills pull-right">
			        	<li ng-class="{active:dt.isTabSet('url-encode')}"><a href="#url-encode" ng-click="dt.setTab('url-encode')">URL Encode</a></li>
			        	<li ng-class="{active:dt.isTabSet('url-decode')}"><a href="#url-decode" ng-click="dt.setTab('url-decode')">URL Decode</a></li>
			        	<li ng-class="{active:dt.isTabSet('base64-encode')}"><a href="#base64-encode" ng-click="dt.setTab('base64-encode')">Base64 Encode</a></li>
			        	<li ng-class="{active:dt.isTabSet('base64-decode')}"><a href="#base64-decode" ng-click="dt.setTab('base64-decode')">Base64 Decode</a></li>
			        	<li ng-class="{active:dt.isTabSet('xml-format')}"><a href="#xml-format" ng-click="dt.setTab('xml-format')">XML Format</a></li>
			        	<li ng-class="{active:dt.isTabSet('json-format')}"><a href="#json-format" ng-click="dt.setTab('json-format')">JSON Format</a></li>
			      	</ul>
			  	</div>
		  	</div>
		</nav>
		<big-input-output></big-input-output>
	</div>
	<script type="text/javascript" src="libs/angular.min.js"></script>
	<script type="text/javascript" src="libs/vkbeautify.js"></script>
	<script type="text/javascript" src="data-transform-app.js"></script>
	<script type="text/javascript" src="data-transform.js"></script>
</body>
</html>
